@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html{
    font-size: 16px;
}

/* MOBILE */
body{
    background-color: #171812;
    color: #F8F8F2;
    font-family: Roboto Mono;
    display: flex;
    flex-flow: column;
    margin: 0px 20px;
}

header{
    color: #A6E22E;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

header h1{
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 7.5vw;
}

header p{
    margin-top: 0px;
}

nav{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav span{
    border-bottom: #171812;
    border-style: solid;
    padding: 0px 5px;
    margin: 0 3px;
}

main #Bio p{
    margin: 0px 10px;
}

main #project-links a{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#Projects span{
    display: inline-block;
    text-align: center;
    width: 70vw;
}

img{
    width: 70vw;
    margin-top: 3px;
    border: solid #F8F8F2;
    margin-bottom: 0;
    box-shadow: 10px 10px 20px 0px black;
}

address{
    margin: 0px 15px 15px 15px;
}

.used {
    margin: 0;
    padding: 0;
}

nav span:hover{
    cursor: pointer;
}

nav a:link, nav a:visited{
    color: #A6E22E;
    text-decoration: none;
}

#project-links a:link, #project-links a:visited{
    color: #F8F8F2;
    text-decoration: none;
}

/* Desktop */
@media only screen and (min-width: 768px){

body{
    display: flex;
    flex-flow: column;
    align-items: center;
}

header h1{
    font-size: 1.75rem;
}

main{
    width: 50vw;
}

#Projects span{
    width: 30vw;
}

img{
    width: 30vw;
}

}